<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <HEAD>
      <TITLE>
         Marko Demos
      </TITLE>
   </HEAD>
<BODY>
    <include template="./../header/header.marko"/>
    <p>Hello ${data.name}</p>
</BODY>
</HTML>