<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <HEAD>
      <TITLE>
         A Small Hello 
      </TITLE>
   </HEAD>
<BODY>
    <include template="./../header/header.marko"/>
    <div>
    	<p>Please select any type to see expample</p>
    </div>
</BODY>
</HTML>